<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Define the first servlet -->
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>com.asmaa.hariti.demo.HomeServlet</servlet-class>
    </servlet>

    <!-- Map the homeServlet to a URL pattern -->
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>coordinateServlet</servlet-name>
        <url-pattern>/coordinates</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>personalInfoServlet</servlet-name>
        <servlet-class>com.asmaa.hariti.demo.PersonalInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>personalInfoServlet</servlet-name>
        <url-pattern>/personalInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>creditRequestServlet</servlet-name>
        <servlet-class>com.asmaa.hariti.demo.CreditRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>creditRequestServlet</servlet-name>
        <url-pattern>/creditRequests</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateRequestServlet</servlet-name>
        <servlet-class>com.asmaa.hariti.demo.UpdateRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateRequestServlet</servlet-name>
        <url-pattern>/api/creditRequests/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

</web-app>
